// CSS declarations go here

body
   background url('pattern_130.gif')

.container
   margin-top: 10px

.loginTemp
   position absolute
   top 20px
   right 20px

.text-danger
   color: rgb(red)

.text-success
   color: rgb(green)

.text-info
   color: rgb(gray)
